<div class="comp-container">
  <h1>Dynamic Zoom and Layout Impacts</h1>

  <h2>Content Visuals</h2>

  <p>
    Non-decorative Visuals (i.e. Content Visuals) that have an essential second
    dimension to be valuable, can have an additional scroll bar specific to its
    container.
  </p>

  <h3>Keyboard Users who zoom</h3>

  <p>
    Keyboard users need access to the scroll bar the content visuals generate on
    zoom such that. . .
  </p>

  <ul>
    <li>they can scroll using the keyboard</li>
    <li>
      they do not get lost as they move from the scrolling content to non
      scrolling content.
    </li>
  </ul>

  <div class="image-section">
    <app-image-container
      [altText]="
        'W3C logo consisting of an uppercase W and the number 3 joined where the w ends and the three begins.'
      "
    ></app-image-container>
  </div>

  <h3>Users who are blind</h3>

  <p>
    A screen reader user will be informed that a Content Visual exists in the
    layout along with its associated alt-text.
  </p>

  <p>
    However it is unclear, how adding a <code>tabindex</code> for the Content
    Visual (because of the keyboard user who zooms) 'works' for a screen reader
    users.
  </p>

  <h4>Keep the User informed</h4>

  <p>
    Consistent with usability for users who are not blind,
    <em
      >keeping the user informed throughout an experience is integral to a good
      UX.</em
    >
    With this in mind. . .
  </p>

  <ul>
    <li>
      Mirror the experience of other interactive semantic elements like
      <code>a</code> (links), or <code>button</code> elements.
    </li>
    <li>
      Do not implement ARIA attributes that are inconsistent with the roles that
      a
      <code>img</code> element typically has.
    </li>
    <li>Test your implementation with an actual user who is blind.</li>
  </ul>
</div>
