.comp-container {
  border: red 3px solid;
  box-sizing: border-box;
  padding: 2rem 4rem;
  width: fit-content;
}

@media only screen and (max-width: 375px) {
  .comp-container {
    padding: 0.5rem 1rem;
  }
}
