/* You can add global styles to this file, and also import other style files */

$primaryFont: Georgia;
$secondaryFont: Calibri;

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
th {
  font-family: $primaryFont;
}

p,
li,
td {
  font-family: $secondaryFont;
}

.image-section {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  border: black 1px solid;
  height: 240px;
  width: fit-content;
  max-width: 100%;
}
